# Node
node_modules
dist
build

# Env files
.env
.env.test
.env.local
.env.*.local

# Prisma 
prisma/*.db
prisma/*.db-journal
prisma/.env
prisma/.env.test

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Docker volumes (nunca commitear datos de Postgres locales)
postgres_data/

# OS files
.DS_Store
Thumbs.db

TODO.txt
UserSphere-collection.json